body, header
{
	margin: 0 auto;
	background: url("bg5.jpg");
}

#logo
{
	text-align: left;
	padding : 10px;
}

#banner
{
	height: 270px;
	width: 957px;
	border: 2px solid gray;
	margin-bottom: 0;
	padding: 0;
}
/*The page body*/
#wrapper
{
	width: 961px;
    margin: 0 auto;
    margin-bottom: 0;
    border: 10px solid #670B38;
    background: white;
}
 /* Navigation */
.menu-container
{	background-color: rgba(118,134,146,.9);
	display:flex;
	width: 961px;	
	height: 40px;
	padding: 0px;
	position: absolute;
    top: 415px;
    left: 232px;

}
/*to center the text verticlly inside the button the top padding has to go here */
.menu
{
	padding: 10px 0px 0px 0px ;	
	flex:1;
}
.menu a
{
	width: 150.5px;
	height: 40px;
	text-decoration: none;
	color:#670B38;
	
}

.menu:hover , .menu a:hover{
	background: #701B40;
	color: white;
}
/* end of navigation styling */
p{
	font-size: 30px;
	color: #670B38;
	text-align: left;
	text-align: justify;
	padding: 20px;
}

span
{
	font-weight: bolder;
	
}
.picture
{
	height: 384px;
	width: 600px;
	border: 5px solid #670B38;
}
h1 , h2	
{
	color: #670B38;
	float: left;
	padding: 20px;
	display: inline-block;
}

.back-button , .forward-button
{
	font-size: 30px;
}
